<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${tittle}"></h1>
        <ul>
            <li th:each=" pepe : ${personas}" th:text="${pepe.nombre} + ' ' + ${pepe.apellido} + ' tiene ' + ${pepe.edad} + ' años'"></li>
        </ul>
        <button><a th:href="@{/crearpersona}">Crear Persona</a></button>
        <table>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" pepe,iterator : ${personas}">
                    <td th:text="${iterator.index+1}"></td>
                    <td th:text="${pepe.nombre}"></td>
                    <td th:text="${pepe.apellido}"></td>
                    <td th:text="${pepe.edad}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
